.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 992px;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  align-content: center;
  display: grid;
  gap: 6.25rem; /* 100px */
  grid-template-columns: 1fr 1fr;
}